*{
    /* border: solid 1px red; */
    margin: 0;
    padding: 0;
}

.header {
    background-color: #cbc8ff;
    height: 88px; /* Adjust the height as needed */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo {
    display: flex;
    padding: 28px 0px 24px 32px;
}

.header-logo img {
    max-width: 100%;
    height: auto;
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-grow: 1;
    padding: 18px 32px; 
}

.header-nav-left {
    display: flex;
}

.header-navigation ul {
    display: flex;
    list-style: none;
}

.header-nav-right {
    display: flex;
    gap: 45px; 
    padding: 15px 0px;
}

.header-nav-left ul li a,
.header-nav-right ul li a {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #1d1e20
}

.header-nav-left ul{
    gap: 30px;
}